<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP Verification-A.F</title>
   
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/verifyOtp.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light outer-nav">
        <a class="navbar-brand costa-logo" href="#"><img src="/img/logo.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
    </nav>

    <div id="otp-verification-popup">
        <div id="otp-verification-form">
            <form class="otp-verification-form" id="otp-verification-form-v" method="post" action="/admin/verifyOtp">
                <h1>A.F</h1>
                <h3>OTP Verification</h3>
            
                <div class="otp-input"><input id="otp" type="text" name="otp" placeholder="Enter OTP"></div>
                <div id="otp-error"></div>
                <% if(typeof message !== 'undefined'){ %>
                    <div class="errordata"><p><%= message %></p></div>
                    <% } %>
                <div class="otp-input"><button class="verify-otp" type="submit">Verify OTP</button></div>
                <div class="resend-otp">Didn't receive OTP? <a href="#">Resend OTP</a></div>
                <a href="#">Change Phone Number</a>
            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
