<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phone Number OTP-Ashion</title>
   
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/sendOtp.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light outer-nav">
        <a class="navbar-brand costa-logo" href="/"><img src="/img/logo.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse nav-my-links" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="#">Men</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Women</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Kids</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Shoes&Bags</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Signup</a>
                </li>
            </ul>
        </div>
    </nav>

    <div id="phone-otp-popup">
        <div id="phone-otp-form">
            <form class="phone-otp-form" id="phone-otp-form-v" method="post" action="/user/sendotp">
                <h1>A.F</h1>
                <h3>Enter Phone Number</h3>
               
                
            <div class="phone-input">
                    
           <div>
           
             <select  class="country-code" id="country-code" name="countryCode" class="form-select">
            <option value="+91" selected>+91 (India)</option>
           <option value="+1">+1 (USA)</option>
           </select>
          
           </div>
  
                    <input  id="phone" type="text" name="phone" placeholder="Enter Phone Number">
                </div>

                <div id="phone-error" class="error-message"></div>
                <div class="errordata" >
                    <% if (typeof errordata !== 'undefined') { %>
                        <p style="color: rgba(208, 41, 12, 0.874); font-size: medium;"><%= errordata %></p>
                    <% } %>
                </div> 
                <div class="phone-input"><button class="send-otp" type="submit">Send OTP</button></div>
                <a href="/user/login">Already have an account? Login</a>
            </form>
        </div>
    </div>

    <script src="/javascript/phone-validation.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
