<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile Edit Address</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/listProducts.css">
    <link rel="stylesheet" href="/css1/style.css" type="text/css">
    <link rel="stylesheet" href="/css1/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css1/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css1/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/css1/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/css1/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/css1/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css1/slicknav.min.css" type="text/css">
    <style>
        h1 {
            color: #369beee5;
            /* Blue color */
            font-size: 36px;
            /* Adjust the font size as needed */
            font-weight: bold;
            /* Make the text bold */
            text-align: left;
            /* Center align the text */
            margin-top: 30px;
            margin-left: 20px;
            /* Add some top margin for spacing */
            text-transform: uppercase;
            /* Convert text to uppercase */
            letter-spacing: 2px;
            /* Increase letter spacing */
        }

        .list-group-item.active {
            background-color: #369beee5;
            /* Light blue color */
        }

        .list-group-item {
            text-align: center;
            /* Center align the text */
        }

        .btn {
            margin-top: 10px;
        }

        .round-image {

            width: 300px;

            height: 330px;

        }
        .error-message{
    color: red;
    text-align: left;
    font-size: 9px;
}
    </style>


</head>

<body>
    <header class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3 col-lg-2">
                    <div class="header__logo">
                        <a href="/"><img src="/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-7">
                    <nav class="header__menu">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/home?For=Women">Women’s</a></li>
                            <li><a href="/home?For=Men">Men’s</a></li>
                            <li><a href="/home?For=Kids">Kid's</a></li>
                            <li><a href="#">My Account</a>
                                <ul class="dropdown">
                                    <li><a href="/user/profile">Dashboard</a></li>
                                    <li><a href="/user/profileAddressList">Addresses</a></li>
                                    <li><a href="/user/profileOrders">Orders</a></li>
                                    <li><a href="/user/wallet">Wallet</a></li>
                                </ul>
                            </li>
                        
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__right">
                       
                        <ul class="header__right__widget">
                            <li><span class="icon_search search-switch"></span></li>
                            <li><a href="/home/wishlist"><span class="icon_heart_alt"></span>
                               
                            </a></li>
                            <li><a href="/home/cart"><span class="icon_bag_alt"></span>
                                
                            </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>

    <h1> YOUR ACCOUNT</h1>
    <div class="row">
        <div class="col-3">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action " data-tab="account" id="list-accountdetails-list"
                    data-toggle="list" href="/user/profile" role="tab" aria-controls="home">Account details</a>
                <a class="list-group-item list-group-item-action active" data-tab="addresses" id="list-Addresses-list"
                    data-toggle="list" href="/user/profileAddressList" role="tab"
                    aria-controls="Addresses">Addresses</a>
                <a class="list-group-item list-group-item-action" data-tab="orders" id="list-Orders-list"
                    data-toggle="list" href="/user/profileOrders" role="tab" aria-controls="Orders">Orders</a>
                    <a class="list-group-item list-group-item-action" data-tab="orders" id="list-Orders-list"
                    data-toggle="list" href="/user/wallet" role="tab" aria-controls="Orders">Wallet</a>
                <a class="list-group-item list-group-item-action" data-tab="logout" id="list-settings-list"
                    data-toggle="list" href="/user/logout" role="tab" aria-controls="settings">LogOut</a>
            </div>


        </div>
        <div class="col-6">
            <form action="/user/profileEditAddress" id="addAddresForm" method="post">

                <div class="form-group">
                    <label for="inputAddress">Name*</label>
                    <input type="text" class="form-control"  name="name" id="name" placeholder="Name">
                    <div id="name-error" class="error-message"></div>
                </div>
                <div class="form-group">
                    <label for="inputAddress">Mobile*</label>
                    <input type="text" class="form-control"  name="mobile" id="mobile" placeholder="Name">
                    <div id="mobile-error" class="error-message"></div>
                </div>
                <div class="form-group">
                    <label for="inputAddress">Locality/Area/Street*</label>
                    <input type="text" class="form-control"  name="locality" id="locality" placeholder="Locality/Area/Street">
                    <div id="locality-error" class="error-message"></div>
                </div>
                <div class="form-group">
                    <label for="inputAddress">Flat Number/Building Name*</label>
                    <input type="text" class="form-control"  name="buildingname" id="buildingname" placeholder="Building name">
                    <div id="buildingname-error" class="error-message"></div>
                </div>
                <div class="form-group">
                    <label for="inputAddress">Landmark</label>
                    <input type="text" class="form-control"  name="landmark" id="landmark" placeholder="Landmark">
                    <div id="landmark-error" class="error-message"></div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label for="inputCity">State</label>
                        <input type="text" class="form-control" placeholder="State" name="state" id="state" >
                        <div id="state-error" class="error-message"></div>
                    </div>
                    <div class="col-md-4">
                        <label>District/City*</label>
                        <select id="city" class="form-control" name="city">
                            <option selected>Choose...</option>
                            <option>Alappuzha</option>
                            <option>Ernakulam</option>
                            <option>Kozhikode</option>
                            <option>Palakkad</option>
                            <option>Kollam</option>
                            <option>Kannur</option>
                            <option>Kasaragod</option>
                            <option>Idukki</option>
                            <option>Kottayam</option>
                            <option>Thrissur</option>
                            <option>Pathanamthitta</option>
                            <option>Malappuram</option>
                            <option>Wayanad</option>
                            <option>Thiruvananthapuram</option>
                        </select>
                        <div id="city-error" class="error-message"></div>
                    </div>
                    <div class="col-md-2">
                        <label for="inputZip">Pin Code*</label>
                        <input type="text" placeholder="Pin Code" name="pincode" id="pincode" class="form-control">
                        <div id="pincode-error" class="error-message"></div>
                    </div>
                
                    <label>Address Type</label>
                    <div class="addressTypeRadio">
                      <input type="radio" name="addressType" value="Home" id="homeRadio">
                      <label for="homeRadio">Home</label>
                
                      <input type="radio" name="addressType" value="Work" id="workRadio">
                      <label for="workRadio">Work</label>
                
                      <input type="radio" name="addressType" value="Others" id="othersRadio">
                      <label for="othersRadio">Others</label>
                    </div>
                    <div id="addressType-error" class="error-message"></div>
                
                </div>



                <button type="submit" class="btn btn-primary">Save Address</button>
            </form>


        </div>
        <div class="col-2">
            <img src="/images/GPS-Icon-PNG-Isolated-Image.png" alt="Round Image" class="round-image">
        </div>
    </div>


    <script src="/javascript/useraddress.js"></script>
</body>

<script>
    const listItems = document.querySelectorAll('.list-group-item');

    listItems.forEach(item => {
        item.addEventListener('click', function () {
            // Remove 'active' class from all items
            listItems.forEach(item => item.classList.remove('active'));

            // Add 'active' class to the clicked item
            this.classList.add('active');
        });
    });
</script>

</html>