<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/listProducts.css">
    <link rel="stylesheet" href="/css1/style.css" type="text/css">
    <link rel="stylesheet" href="/css1/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css1/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css1/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/css1/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/css1/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/css1/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css1/slicknav.min.css" type="text/css">
    <style>
        h1 {
            color: #369beee5;
            /* Blue color */
            font-size: 36px;
            /* Adjust the font size as needed */
            font-weight: bold;
            /* Make the text bold */
            text-align: left;
            /* Center align the text */
            margin-top: 15px;
            margin-left: 20px;
            /* Add some top margin for spacing */
            text-transform: uppercase;
            /* Convert text to uppercase */
            letter-spacing: 2px;
            /* Increase letter spacing */
        }

        .round-image {
            border-radius: 50%;
            width: 100px;
            /* Set your desired width */
            height: 100px;
            margin-left: 20px;
            /* Set your desired height */
            object-fit: cover;
            /* Maintain aspect ratio and cover the container */
        }

        .custom-file-upload {
            display: inline-block;
            padding: 8px 20px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin-top: 15px;
        }

        .custom-file-upload:hover {
            background-color: #0056b3;
        }

        button[type="submit"] {
            display: block;
            margin-top: 20px;
            padding: 10px 20px;
            background-color: #28a745;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        button[type="submit"]:hover {
            background-color: #1e7f39;

        }

        #uploadButton {
            display: block;
            margin-top: 20px;
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        /* Hover styles for the uploadButton */
        #uploadButton:hover {
            background-color: #0056b3;
        }





        input[type="file"] {
            display: none;
            /* Hide the default file input appearance */
        }

        label {
            font-weight: bold;
        }

        .form-group {
            margin-bottom: 20px;
            /* Add some vertical margin between form groups */
        }

        .col-md-3 {
            margin-top: 40px;
        }
        .list-group-item.active {
    background-color: #369beee5;
    /* Light blue color */
}

.list-group-item {
    text-align: center;
    /* Center align the text */
}
    </style>


</head>

<body>
    <header class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3 col-lg-2">
                    <div class="header__logo">
                        <a href="/ashion"><img src="/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-7">
                    <nav class="header__menu">
                        <ul>
                            <li><a href="/ashion">Home</a></li>
                            <li><a href="/home?For=Women">Women’s</a></li>
                            <li><a href="/home?For=Men">Men’s</a></li>
                            <li><a href="/home?For=Kids">Kid's</a></li>
                            <li><a href="#">My Account</a>
                                <ul class="dropdown">
                                    <li><a href="/user/userProfile">Dashboard</a></li>
                                    <li><a href="/user/userProfileAddressList">Addresses</a></li>
                                    <li><a href="/user/userProfileOrders">Orders</a></li>
                                    <li><a href="/user/userWallet">Wallet</a></li>
                                </ul>
                            </li>
                        
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__right">
                       
                        <ul class="header__right__widget">
                            <li><span class="icon_search search-switch"></span></li>
                            <li><a href="/home/wishlist"><span class="icon_heart_alt"></span>
                               
                            </a></li>
                            <li><a href="/home/cart"><span class="icon_bag_alt"></span>
                                
                            </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <h1> YOUR ACCOUNT</h1>
    <div class="row">
        <div class="col-3">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" data-tab="account"
                    id="list-accountdetails-list" data-toggle="list" href="/user/userProfile" role="tab"
                    aria-controls="home">Account details</a>
                <a class="list-group-item list-group-item-action" data-tab="addresses" id="list-Addresses-list"
                    data-toggle="list" href="/user/userProfileAddressList" role="tab"
                    aria-controls="Addresses">Addresses</a>
                <a class="list-group-item list-group-item-action" data-tab="orders" id="list-Orders-list"
                    data-toggle="list" href="/user/userProfileOrders" role="tab" aria-controls="Orders">Orders</a>
                <a class="list-group-item list-group-item-action" data-tab="orders" id="list-Orders-list"
                    data-toggle="list" href="/user/userWallet" role="tab" aria-controls="Orders">Wallet</a>
                <a class="list-group-item list-group-item-action" data-tab="logout" id="list-settings-list"
                    data-toggle="list" href="/user/logout" role="tab" aria-controls="settings">LogOut</a>
            </div>


        </div>
        <div class="col-2">

            <img src="/images/IMG_20230304_194721.jpg" alt="Round Image" class="round-image">

            <form action="/user/userProfile" method="post" enctype="multipart/form-data">
                <label for="profileImage">Change Profile Picture</label>
                <label class="custom-file-upload" for="profileImage">Choose File</label>
                <input type="file" id="profileImage" name="profileImage" accept="image/*">

                <button type="submit">Upload Image</button>

            </form>
        </div>
        <div class="col-6">
            <form class="userProfile" action="/user/userProfile/updateInfo" method="post">
                <% if(typeof user!=='undefined' ){ %>
                    <div class="form-group">
                        <label>Full Name</label>
                        <input type="text" class="form-control" id="firstname" value="<%= user.firstname %>"
                            name="firstname" placeholder="">

                    </div>
                    <div id="firstname-error" class="error-message"></div>
                    <div class="form-group">
                        <label for="Email">Email address</label>
                        <input type="email" placeholder="" class="form-control" value="<%= user.email %>"
                            readonly><button type="button" class="open-button" onclick="openEmailForm()">Change</button>

                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                            else.</small>
                    </div>
                    <div class="form-group">
                        <label for="phonenumber">Phone Number</label>
                        <input type="text" class="form-control" id="number" value="<%=user.mobile%>" readonly><button
                            type="button" class="open-button" onclick="openPhoneForm()">Change</button>


                        <small id="numberHelp" class="form-text text-muted">We'll never share your number with anyone
                            else.</small>
                    </div>
                    <div class="form-group">
                        <label for="phonenumber">Password</label>
                        <input type="text" class="form-control" placeholder="********" readonly><button type="button"
                            class="open-button" onclick="openPasswordForm()">Change</button>
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Save Changes</button>
            </form>
            <% } %>
                <div class="overlay" id="overlay"></div>
        </div>

    </div>

    <!-- ------CHANGE EMAIL FORM--- ------->

    <div class="form-popup" id="emailForm">
        <form action="/user/userProfile/changeEmail" method="post" class="form-container changeEmail">
            <div class="close-btn ">
                <h4>Enter New Email Address</h4>
                <button type="button" class="btn-cancel" onclick="closeEmailForm()"><img
                        src="/images/icons8-cancel-100.png"></button>
            </div>

            <input type="text" placeholder="New Email Address" id="email" name="newmail">
            <div id="email-error" class="error-message"></div>
            <input type="password" placeholder="Your COSTA Password" id="password" name="curPassword">
            <div id="password-error" class="error-message"></div>
            <div id="passwordError" class="error-message"></div>
            <div id="changeSuccess" class="success-message"></div>
            <button type="submit" class="btn">Save New Email Address</button>
        </form>
    </div>
    <!-- ------CHANGE PHONE---------->
    <div class="form-popup" id="phoneForm">
        <form class="form-container newNumSendOtp">
            <div class="close-btn">
                <h4>Enter New Phone Number</h4> <button type="button" class="btn-cancel" onclick="closePhoneForm()"><img
                        src="/images/icons8-cancel-100.png"></button>
            </div>


            <input type="text" id="newPhone" placeholder="Enter New Phone Number" name="mobile">
            <div id="newPhoneError" class="error-message"></div>

            <button type="button" onclick="newNumSendOtp()" class="btn">Send OTP for Verification</button>

        </form>
    </div>
    <!---------------VERIFY OTP--------------->
    <div class="form-popup" id="otpForm">
        <form class="form-container verifyChangePhoneOtp">
            <div class="close-btn">
                <h4>Enter OTP</h4> <button type="button" class="btn-cancel" onclick="closeOtpForm()"><img
                        src="/images/icons8-cancel-100.png"></button>
            </div>

            <input type="text" id="changePhoneOtp" placeholder="Enter the recieved OTP" name="otp">
            <div id="newPhoneOtpError" class="error-message"></div>
            <div id="changePhoneSuccess" class="success-message"></div>
            <button type="button" onclick="verifyChangePhoneOtp()" class="btn">Verify OTP</button>

        </form>
    </div>




    <!-- <div class="row">
        <div class="col-md-3 offset-md-3">
            <h4>Change Password</h4>
        </div>
        <div class="col-md-3 offset-md-5">
            <div class="form-group">
                <label for="exampleInputPassword1"> Current Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1"> New Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1"> Confirm New Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary mb-2">Change Password</button>
        </div>
    </div> -->

    <!-- ----CHANGE PASSWORD FORM--- -->
    <div class="form-popup" id="pwdForm">
        <form action="/user/userProfile/changePwd" method="post" class="form-container changePassword">
            <div class="close-btn">
                <h4>Change Password</h4> <button type="button" class="btn-cancel" onclick="closePasswordForm()"><img
                        src="/images/icons8-cancel-100.png"></button>
            </div>


            <input type="password" placeholder="Current Password" id="current" name="currentPwd">

            <div class="forgotPassword"><a href="#" onclick="sendForgotPwdOTP()">Forgot Password?</a></div>
            <div id="current-error" class="error-message"></div>
            <input type="password" placeholder="New Password" id="new" name="newPwd">
            <div id="new-error" class="error-message"></div>

            <input type="password" placeholder="Confirm Password" id="confirm" name="confirmPwd">
            <div id="confirm-error" class="error-message"></div>
            <div id="changePwdSuccess" class="success-message"></div>
            <button type="submit" class="btn">Change Password</button>

        </form>
    </div>

    <!---------------VERIFY OTP- forgot-------------->
    <!-- OTP verification form -->
    <div class="form-popup" id="OtpVerify">
        <form class="form-container forgotOtp">
            <div class="close-btn">
                <h4>Enter OTP sent to Registered Phone Number</h4>
                <button type="button" class="btn-cancel" onclick="closeForgotPwdOtpForm()">
                    <img src="/images/icons8-cancel-100.png">
                </button>
            </div>

            <input type="text" id="otpInput" placeholder="Enter the received OTP" name="otp">
            <div id="otp-error" class="error-message"></div>

            <button type="button" class="btn" onclick="verifyOtp()">Verify OTP</button>
        </form>
    </div>
    <!--================== ----FORGOT PASSWORD FORM----===================---->
    <!-- Change password form -->
    <div class="form-popup" id="ChangePwd">
        <form id="updateForgotPwd" class="form-container updateForgotPwd">
            <div class="close-btn">
                <h4>Change Password</h4>
                <button type="button" class="btn-cancel" onclick="closeChangePwd()">
                    <img src="/images/icons8-cancel-100.png">
                </button>
            </div>

            <input type="password" id="newp" placeholder="New Password" name="newPassword">
            <div id="newp-error" class="error-message"></div>

            <input type="password" id="confirmp" placeholder="Confirm Password" name="password">
            <div id="confirmp-error" class="error-message"></div>

            <div id="changePwdSuccessp" class="success-message"></div>
            <button type="submit" onclick="changePassword" class="btn">Change Password</button>
        </form>
    </div>

    <script src="/javascript/personal-details.js"></script>
</body>

<script>
    const listItems = document.querySelectorAll('.list-group-item');

    listItems.forEach(item => {
        item.addEventListener('click', function () {
            // Remove 'active' class from all items
            listItems.forEach(item => item.classList.remove('active'));

            // Add 'active' class to the clicked item
            this.classList.add('active');
        });
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var profileImageInput = document.getElementById("profileImage");
        var uploadButton = document.getElementById("uploadButton");
        var roundImage = document.querySelector(".round-image");

        profileImageInput.addEventListener("change", function (event) {
            var file = event.target.files[0];
            if (file) {
                var reader = new FileReader();

                reader.onload = function () {
                    roundImage.src = reader.result;
                };

                reader.readAsDataURL(file);
            }
        });


    });
</script>




</html>