
.nav-item {
    position: relative; /* Ensure parent container is positioned */
}
.nav-my-links {

    margin-left: 60%; 
}

.outer-nav {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #dad5d5; 
    height: 85px;
    box-shadow: 0px 15px 18px rgba(83, 81, 81, 0.13);
}

.costa-logo {
    margin-left: 20px;
    font-weight: 600;
    color: #f26422; 
    font-size: 24px; 
}

.navbar-nav .nav-item.active .nav-link {
    color: #f26422; 
}

.navbar-nav .nav-link {
    color: #333;
}


.wishlist{
width:20px;
}
.carticon{
width: 22px;
}

@media (max-width: 992px) {
    .nav-my-links {
        margin-left: 0;
    }

    .outer-nav {
        justify-content: space-between;
        padding: 10px 20px;
    }

    .sidebar {
        width: 100%;
    }

    .product-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}
.leftDiv{
    width: 100%;
 height: 100%;
 /*border: 1px solid rgba(0, 0, 0, 0.295); */
}
.rightDiv{
    width: 100%;
   height: fit-content;
   border: 1px solid rgba(0, 0, 0, 0.295);
   text-decoration: none;
  display: flex;
  flex-direction: column;
}
.rightDiv a{
    text-decoration: none;
}
.container {
    margin-top: 20px;
}
.locationImg{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}



.address-card {
    margin-bottom: 20px;
    padding: 15px;
    font-size: 14px;  
    cursor:pointer;
}

.name{
    font-weight: 700;
}
.phone{
    font-weight: 700;
    margin-bottom: 0px;
}


.address-card .buttons a {
    color: #f02222;
    text-decoration: none;
    font-weight: 600;
}
.address-card .buttons :hover{
    text-decoration: underline;
   
}

.summary {
   width: 100%;
  padding: 10px;
font-size: 14px;
}

.addressHeading{
    display: flex;
}

.headings{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    padding-top: 25px;
    
} 
.headings h4{
    font-size: 18px;
    font-weight: 600;
}
.headings p{
    font-size: 12px;
}


.proceedToPay-btn{
    width: 100%;
    margin-top: 40px;
    color: white;
    background-color: #3feb56;
    border: 1px solid #34ec53;
    
    height: 40px;
    cursor:pointer;

}
.proceedToPay-btn:hover{
    color: white;
    background-color: #66da7fd3;
    border: 2px solid white;
    cursor:pointer;
}
.mainRow{
    height: 350px;
}

.mainRow{
    margin-top: 80px;
}
.changeaddress{
  position: fixed;
  background-color: white;
  border-radius: 2px;
  border: 3px solid #f1f1f1;
  z-index: 999;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  /* Center horizontally and vertically */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Optionally, set a fixed width if needed */
  width: 400px;
    
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the color and opacity as needed */
    z-index: 9;
  }

.btn-cancel{
background-color:transparent;
border: none;

}


.address-card-popup {
    margin-bottom: 20px;
    padding: 15px;
    font-size: 14px;  
}
.address-card-popup:hover{
   background-color: #a9a1a1d8;
   cursor:pointer;
}



/* ========= */
 
  /* The popup form - hidden by default */
  .add-form-popup {
    display: none;
    position: fixed;
   
   border-radius: 2px;
    border: 3px solid #f1f1f1;
    z-index: 999;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    right: 0%;
    top:1%
   
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 400px;
    padding: 24px;
    background-color: white;
    
  }
  
  /* Full-width input fields */
  .form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
   height: 44px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid 1px rgba(0, 0, 0, 0.516);
    border-left-style: none;
    background-color: transparent;
    outline: none;
    font-size: 11px;
  }
  .form-container label{
   
    font-size: 12px;
    font-weight: 600;
  }
  
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
   
  }
  
 
  .form-container .btn {
    background-color: #ffffff;
    color:#f26422;
   
    border: solid 1px #f26422;
    cursor: pointer;
    width: 100%;
  
     font-size: 14;
    height: 40px;
  }
  
  /* Add a red background color to the cancel button */
  .btn-cancel {
    background-color:transparent;
    border: none;
    width: 50px
  }
  .btn-cancel img {
    
    width: 17px;
    margin-bottom:8px;
}
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }
 
  .close-btn{
    display: flex;
    justify-content: space-between;
  }

  .adressTypeRadio{
    display: flex;
    margin-top: 18px;
    margin-bottom: 10px;
  }
  .adressTypeRadio input[type="radio"]{
 margin-left: 20px;    
  }

  .error-message{
    color: red;
    text-align: left;
    font-size: 9px;
}
.form-popup {
    display: none;
    position: fixed;
    top: -3%;
    border-radius: 2px;
    border: 3px solid #f1f1f1;
    z-index: 999;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    left: 37%;
    width: 400px;
    }
    
    /* Add styles to the form container */
    .form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 24px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    
    
    }