/* General Styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.admin-panel {
  display: flex;
}

.sidebar {
  width: 250px;
  background-color: #f1f1f1;
  padding: 20px;
  height: 800px;
}

.sidebar-header {
  padding-bottom: 20px;
}

.admin-logo {
  font-weight: 600;
  color: #f26422;
  font-size: 24px;
  text-decoration: none;
}

.sidebar-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  margin-bottom: 10px;
}

.menu-item a {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
}

.menu-item a:hover {
  background-color: #ddd;
}

.menu-item.active a {
  background-color: white;
  color: #f26422;
  border-radius: 5px;
}

.content {
  flex-grow: 1;
  padding: 20px;
  background-color: #fff;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .admin-panel {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    padding: 20px 10px;
  }

  .content {
    padding: 20px 10px;
  }
}

#product-popup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#product-form {
  width: 800px;
  max-width: 98%;
  background-color: #b1adad59;
  padding: 20px;
  border-radius: 8px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
  text-align: center;
  margin-left: -87px;
  /* border: 1px solid; */
}

@media (max-width: 576px) {
  #product-form {
    width: 100%;
  }
}

#product-form h3 {
  color: #333;
}

#product-form form {
  margin-top: 20px;
}

#product-form input[type="text"],
#product-form input[type="Number"],
#product-form textarea,
#product-form select

 {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 12px;
  background-color: white;
}

#product-form button.save-product {
  width: 100%;
  padding: 10px;
  background-color: #f26422e7;
  color: #fff;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

#product-form a {
  display: block;
  margin-top: 10px;
  color: #333;
  text-decoration: none;
}

#product-form a:hover {
  text-decoration: underline;
  color: #f26422;
}

.nav-link:hover {
  color: #f26422;
}

.product-label {
  text-align: left;
}

#product-form small.text-muted {
  display: block;
  margin-top: 5px;
  font-size: 12px;
  color: #888;
}

#product-form input[type="file"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 12px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.col {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 10px;
}

/* Additional Styles for Image Upload */
#image-upload {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.upload-preview {
  position: relative; /* Add this line */
  width: calc(25% - 10px);
  height: 100px;
  background-color: #f1f1f1;
  margin: 0 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed #ddd;
}

.upload-preview::before {
  content: "+";
  font-size: 32px;
  color: #888;
}

.upload-preview img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

#image-upload input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}


