/* General Styles */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .admin-panel {
    display: flex;
  }
  
  .sidebar {
    width: 250px;
    background-color: #f1f1f1;
    padding: 20px;
    height: 800px;
  }
  
  .sidebar-header {
    padding-bottom: 20px;
  }
  
  .admin-logo {
    font-weight: 600;
    color: #f26422;
    font-size: 24px;
    text-decoration: none;
  }
  
  .sidebar-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .menu-item {
    margin-bottom: 10px;
  }
  
  .menu-item a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
  }
  
  .menu-item a:hover {
    background-color: #ddd;
  }
  
  .menu-item.active a {
    background-color: #f26422;
    color: #fff;
    border-radius: 14px;
  }
  
  .content {
    flex-grow: 1;
    padding: 20px;
    background-color: #fff;
  }
  
  /* Responsive Styles */
  
  @media (max-width: 768px) {
    .admin-panel {
      flex-direction: column;
    }
  
    .sidebar {
      width: 100%;
      padding: 20px 10px;
    }
  
    .content {
      padding: 20px 10px;
    }
  }
  .container{
    align-items: center;
  
  }
  .user-table{
  /* border: 1px solid; */
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  
  }
  .user-table th{
    background-color: #4b474533;
  }
  .user-table tr{
   background-color: #f1f1f1;
    height: 40px;
  }
  .add-category-btn{
    background-color: #f17d47;
    border: none;
    border-radius: 8px;
    height: 42px;
    color: white;
    width: 130px;
  }
  .category-btn-edit{
    background-color: transparent;
    border: none;
    color: blue;
  }
  .category-btn-delete{
    background-color: transparent;
    border: none;
    color: rgb(210, 17, 27);
  }
  .category-btn-edit:hover ,.category-btn-delete:hover{
  text-decoration: underline;
  
  
  }
  .navbar{
   display: flex;
   
  }
  .navbar a{
    margin-left: 15px;
  }
.selectStatus{
border: none;
  background-color: white;
  border-radius: 2px;
  color: #060b42;
  border-right: none;
  padding-right: 10px;
}

.order-btn-edit{
  color: #f26422;
  font-size: 14px;
  border: none;
  background-color:transparent;
border-left: none;
padding-left: 20px;
}
.selectDiv{
  display: flex;
 
}