
.nav-item {
    position: relative; /* Ensure parent container is positioned */
}
.nav-my-links {

    margin-left: 60%; 
}

.outer-nav {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #dad5d5; 
    height: 85px;
    box-shadow: 0px 15px 18px rgba(83, 81, 81, 0.13);
}

.costa-logo {
    margin-left: 20px;
    font-weight: 600;
    color: #f26422; 
    font-size: 24px; 
}

.navbar-nav .nav-item.active .nav-link {
    color: #369beee5; 
}

.navbar-nav .nav-link {
    color: #333;
}


.wishlist{
width:20px;
}
.carticon{
width: 22px;
}

@media (max-width: 992px) {
    .nav-my-links {
        margin-left: 0;
    }

    .outer-nav {
        justify-content: space-between;
        padding: 10px 20px;
    }

    .sidebar {
        width: 100%;
    }

    .product-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}
.leftDiv{
    width: 100%;
 height: 100%;
 /* border: 1px solid rgba(0, 0, 0, 0.295); */
}
.rightDiv{
    width: 100%;
    height: fit-content;
    border: 1px solid rgba(0, 0, 0, 0.374);
    margin-top: 43px;
    padding: 20px;
    font-size: 14px;
 
    color: #000000ba;
  
}

.container {
    margin-top: 20px;
}
.locationImg{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}





.proceedToPay-btn{
    width: 100%;
    margin-top: 40px;
    color: white;
    background-color: #369beee5;
    border: 1px solid #369beee5;
    
    height: 40px;
    cursor:pointer;

}
.proceedToPay-btn:hover{
    color: white;
    background-color: #369beee5;
    border: 2px solid white;
    cursor:pointer;
}
.mainRow{
    height: 350px;
}

.mainRow{
    margin-top: 80px;
}
.paymentOptions {
    display: flex;
    flex-direction: column;
  }

  .paymentLeft {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px dotted;
    border-right: none;
    padding: 10px;
    width: 200px;
  }

  .paymentRight {
  
   border: 1px dotted;
    padding: 10px;
    flex: 1;
  }
.payHeading{
    font-size: 16px;
    font-weight: 600;
}
  .paymentOption {
    cursor: pointer;
    padding: 5px;
    font-size: 14px;
  
    color: rgba(19, 18, 18, 0.767);
    width: 100%;
  }

  .paymentOption:hover {
    background-color: #f0f0f0;
  }

  .selectedPaymentOption {
    background-color: #ffffff;
     /* border-top: 1px dotted; */
     border-bottom: 1px dotted;
     font-weight: 600;
  }

  .COD P{
    font-size: 12px;
   color: rgba(0, 0, 0, 0.505);
   font-weight: 600;

  }
  .COD h4{
    font-size: 14PX;
    font-weight: 600;
  }
  .COD button{
    background-color: #369beee5;
    color: white;
    width: 250px;
    height: 35px;
    border: none;
    margin-top: 30px;
    font-weight: 600;
  }
  .COD button:hover{
    border: white solid 1px;
    background-color: #369beee5;
  }
  .outer{
    margin-top: 20px;
  }
  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the color and opacity as needed */
    z-index: 99;
  }

  .CODconfirm{
    width: 300px;
    height: 400px;
    display: none;
    position: fixed;
   background-color: white;
   border-radius: 2px;
    border: 3px solid #f1f1f1;
    z-index: 999;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    flex-direction: column;
   bottom:40%;
   left: 40%;
   font-size: 13px;
  padding: 15px;
    
}
.CODconfirm h6{
    font-size: 16px;
    font-weight: 600;

}
.CODconfirm P{
    margin-top: 15px;
    font-size: 12px;

}
.price{
    border: 1px dotted;
    padding-left: 30px;
    padding-right: 0;
    padding-bottom: 30px;
    padding-top: 30px;
}
.CODconfirm #b1{
    margin-top: 20px;
color: white;
border: none;
width: 100%;
background-color: #369beee5;
border-radius: 8px;
height: 45px;
font-size: 14px;
font-weight: 600;
}

.CODconfirm #b2{
    margin-top: 20px;
    color: #369beee5;
    border: solid 1px ##369beee5;
    width: 100%;
    background-color: transparent;
    border-radius: 8px;
    height: 45px;
    font-size: 14px;
    font-weight: 600;
    }

.CODconfirm #b1:hover{
    border: solid 2px white;
}


.CODconfirm #b2:hover{
    border: solid 1px rgba(26, 24, 24, 0.686);
    color: rgba(0, 0, 0, 0.532);
}
.pricetext{
    display: flex;
    justify-content: space-between;
  
}
#PaymentForm{
    display: none;
}
#CODform{
    display: none;
}


#walletForm{
  display: none;
  
}

.walletForm button{
  background-color: #369beee5;
  color: white;
  width: 250px;
  height: 35px;
  border: none;
  margin-top: 30px;
  font-weight: 600;

}

#displayWallet{
  display: none;
}